body{
    position: relative;
    font-family: Roboto, sans-serif;
}

#logo{
    vertical-align: middle;
    float: left;
    padding: 0;
    height: 46px;
    width: 200px;
    font-size: 16px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
}

nav {
    background-color: transparent;
    font-family: Roboto, sans-serif;
    height: 65px;
    margin-top: -8px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -8px;
    padding: 3px 0px 0px 5px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 10;

}

.dropDown {
    background-color: transparent;
    color: white;
    padding-top: 28px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 20px;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    border: none;
    cursor: pointer;
    float: right;
    position: relative;
    text-decoration: none;
    z-index: 10;
}

.arrowDown {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
    transform: rotate(45deg);
}

#helpBtn {
    font-family: Roboto, sans-serif;
    padding-bottom: 10px;
}

#aboutBtn {
    font-family: Roboto, sans-serif;
    padding-bottom: 10px;
}

#communityBtn {
    font-family: Roboto, sans-serif;
    padding-bottom: 10px;
}

#premium {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

#openKastOne {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 1.5px;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    padding: 4px;
    margin: 26px 4px 0px 40px;

}

.dropBtn{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
}

.dropDownContent {
    display: ;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background-color: #fff;
    line-height: 2;
    padding-top: 3px;
    padding-right: 20px;
    padding-bottom: 3px;
    padding-left: 20px;
  }

.dropDownContent a {
    color: darkgrey;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.show {display: block;}

.sectionOne {
    background-image: url(./assets/gradient-violet-bg.jpg);
    background-size: cover;
    position: relative;
    min-height: 700px;
    margin: -104px -20px 0px -20px;
    padding-top: 140px;
    padding-bottom: 110px;
}

.boxLayout {
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    text-align: center;
    position: relative;
    width: 610px;
}

#img {
    margin-bottom: 30px;
    height: 357px;
}

#sectionOneHeader {
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 48px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    color: white;    
}

#sectionOneP {
    font-size: 20px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    color: white;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 560px;
    line-height: 1.4;
}

#openKastTwo {
    border-width: 1px;
    border-color: rgba(254, 144, 0, 0);
    border-radius: 2px;
    background-color: #fe9000;
    text-decoration: none;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    color: white;
    position: relative;
    padding-top: 12px;
    padding-right: 50px;
    padding-bottom: 12px;
    padding-left: 50px;

}

.sectionTwoContainer {
    background-color: white;
    position: relative;
    padding: 100px;
    font-family: Roboto, sans-serif;
}

.sectionTwo {
    background-color: white;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    max-width: 880px;
    grid-column-gap: 140px;
    grid-row-gap: 75px;
}

#itemOne {
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    text-align: center;
    margin: 0px 0px 50px;
}

#itemTwo {
    grid-row-start: 1;
    text-align: center;
    vertical-align: middle;
}

#itemThree {
    grid-row-start: 1;
    text-align: center;
    vertical-align: middle;
}

#itemFour {
    grid-row-start: 1;
    text-align: center;
    vertical-align: middle;
}

#itemFive {
    grid-row-start: 2;
    text-align: center;
    vertical-align: middle;
}

#itemSix {
    grid-row-start: 2;
    text-align: center;
    vertical-align: middle;
}

#itemSeven {
    grid-row-start: 2;
    text-align: center;
    vertical-align: middle;
}

#itemEight {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}